.row
  .col
    .row
      .col
        %h1
          Contacts
    = paginate @contacts
    %table.table.table-striped.table-hover.table-sm
      %thead
        %tr
          %th Name
          %th Dob
          %th Phone
          %th Address
          %th Credit card
          %th Franchise
          %th Email
          %th Errors
      %tbody
        - if @contacts.count.positive?
          - @contacts.each do |contact|
            %tr
              %td= contact.name
              %td= format_dob contact.dob
              %td= contact.phone
              %td= contact.address
              %td= contact.credit_card
              %td= Contact.human_attribute_name("contact.#{contact.franchise}")
              %td= contact.email
              %td= contact.error_list
        - else
          %tr
            %td.text-center{colspan: 8} No error records
    = paginate @contacts
