!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title KoombeaContactImporter
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .row
        .col
        = form_for :contact_list, url: contact_lists_path, multipart: true, html: { class: :form } do |f|
          .input-group.mb-3
            = f.label :csv, class: 'input-group-text' do
              Contacts CSV
            = f.file_field :csv, class: 'form-control'
            = f.submit 'Upload', class: 'btn btn-outline-secondary'
        .col
          %p#notice
            - flash.each do |_, msg|
              - Array.wrap(msg).each do |text|
                .alert.alert-danger= text
          %ul.nav.nav-tabs
            %li.nav-item
              = link_to "Contacts", contacts_path, class: 'nav-link' + (' active' if current_page? contacts_path).to_s
            %li.nav-item
              = link_to "Lists", contact_lists_path, class: 'nav-link' + (' active' if current_controller?(:contact_lists)).to_s
            %li.nav-item
              = link_to "Errors", errors_contacts_path, class: 'nav-link' + (' active' if current_page? errors_contacts_path).to_s
      = yield
